*.o
*.so
venv
*pyc
.eggs/
.mypy_cache/
pyoptgra/.mypy_cache/
tests/.coverage
doc/_build/
tests/coverage.json
pyoptgra/_version.py
.tox/
MANIFEST
_build_doc/
_skbuild/
doc/sphinx/_build/
pyoptgra.egg-info/
