name: Pages-Deployment
on: [workflow_dispatch]
jobs:
  build-and-deploy-documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: actions/checkout@v2
      - run: sudo apt update && sudo apt install gfortran doxygen --yes
      - run: git submodule update --init --recursive # Ensure submodules are updated
      - run: pip install sphinx breathe sphinx-rtd-theme
      - run: python -m pip install .
      - run: doxygen Doxyfile
        working-directory: doc/doxygen
      - run: make html
        working-directory: doc/sphinx
      - run: bash tools/deploy-docs-to-gh-pages.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_SHA: ${{github.sha}}
